include ../title/title.pug
include ../description/description.pug
-let eduText = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'
-const blue = 'subtitle subtitle_blue'

section(class="education")
 +title('images/education.svg', 'Education')
 ul(class="education__list")
  +description('Master Degree', '// Feb 2011 - Jun 2014', 'University name', eduText)(class= blue)
  +description('Master Degree', '// Feb 2011 - Jun 2014', 'University name', eduText)(class= blue)
  +description('Master Degree', '// Feb 2011 - Jun 2014', 'University name', eduText)(class= blue)
  +description('Master Degree', '// Feb 2011 - Jun 2014', 'University name', eduText)(class= blue)
 

  


