.body {
    display: flex;
    &__header {
        margin: 0 0 108px 0;
        padding-top: 135px;
    }
    &__first-column {
        max-width: 634px;
        margin: 0 3%
    }
    &__second-column {
        max-width: 965px;
        padding-top: 90px;
        margin: 0 3%;
    }
   
}