include ../title/title.pug

mixin skills(name,level)
 h3(class="subtitle")= name
 - for (let i = 0; i < 12; i++)
 if i < level
   span(class="skills__dot skills__dot_color_blue")
 else
   span(class="skills__dot")
   
section(class="skills")
 +title('images/skills.svg', 'Skills')
 .skills__items 
  +skills('Creative', '9')
  +skills('Teamwork', '11') 
  +skills('Innovate', '6') 
  +skills('Communication', '11')    
    



