.skills {
    &__items {
        text-align: center;
        margin:auto;
    }

    &__dot {
        height: 1.347rem;
        width: 1.347rem;
        background-color: #e6e6e6;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.924rem 1.5rem 0;

        &_color_blue {
            background-color: #0270ba;
        }
    }

    &__title {
        margin: 0 0 1rem 0;
    }

    &__subtitle {
        margin-bottom: 1.6rem;
    }
}