.items {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        left: -3rem;
        top: 0.4rem;
        background-color: #000;
        border-radius: 50%;

    }

    &__date {
        font-family: 'Myriad Pro',
            sans-serif;
        font-weight: normal;
        color: #000000;
        padding-left: 1.3rem;
        font-size: 1.963rem;
        @media (max-width: 605px) {
             padding-left: 0;
        }
    }

    &__text {
        margin: 1.42rem 0 0.8em 0;
    }

    &__header {
        display: flex;
         @media (max-width: 605px) {
             flex-direction: column;
         }
    }
    
}