mixin items(options = [title, date, subtitle, text])
 each option in options
  li(class="items")
     h3.subtitle(class!=attributes.class)= option.title
      span(class="items__date") // #{option.date}
     h3(class="subtitle")= option.subtitle
     p(class="text")= option.text