.items {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        left: -3rem;
        top: 0.4rem;
        background-color: #000;
        border-radius: 50%;

    }

    &__date {
        font-family: 'Myriad Pro',
            sans-serif;
        font-weight: normal;
        text-transform: none;
        color: #000000;
        padding-left: 1.3rem;
    }

    &__text {
        margin: 1.42rem 0 0.8em 0;
    }
}