section(class="contact")
h2(class="title") Contact
dl(class="contact__items")
 dt(class="contact__termin") Adress
 dd(class="contact__description") Main Street, City.
 dt(class="contact__termin") E-mail
 dd(class="contact__description") contact@domain.com
 dt(class="contact__termin") Phone
 dd(class="contact__description") 555-555-555
 dt(class="contact__termin") Website
 dd(class="contact__description") www.yourweb.com