include ../title/title.pug

mixin contact(term, descr)
   dt(class="contact__termin")= term
   dd(class="contact__description")= descr

section(class="contact")
 +title('images/contact.svg', 'Contact')
dl(class="contact__items")
 +contact("Address", "Main Street, City.")
 +contact("E-mail", "contact@domain.com")
 +contact("Phone", "555-555-555")
 +contact("Website", "www.yourweb.com")





