include ../title/title.pug
include ../items/items.pug

section(class="experience")
 +title('images/experience.svg', 'Experience')
 ul(class="experience__list")
  +items([
      {title: "Company name", date:"Feb 2011 - Jun 2014", subtitle: "Your job here", text},
      {title: "Company name", date:"Feb 2011 - Jun 2014", subtitle: "Your job here", text},
      {title: "Company name", date:"Feb 2011 - Jun 2014", subtitle: "Your job here", text}
  ])(class="subtitle_bold")
  
