include ../title/title.pug

section(class="software")
 +title('images/software.svg', 'Software')
 h3(class="subtitle") Photoshop
 progress(class="software__bar" max=100 value=90)
 h3(class="subtitle") Dreamweaver
 progress(class="software__bar" max=100 value=80)
 h3(class="subtitle") Illustrator
 progress(class="software__bar" max=100 value=70)
 h3(class="subtitle") After effects
 progress(class="software__bar" max=100 value=60)
 h3(class="subtitle") Indesign
 progress(class="software__bar" max=100 value=55)
 h3(class="subtitle") Html&Css3
 progress(class="software__bar" max=100 value=90)
