include ../title/title.pug

mixin software__item(name, level)
 h3(class="subtitle")= name
 progress(class="software__bar" max=100 value= level)

section(class="software")
 +title('images/software.svg', 'Software')
 .software__inner
  .software__column
   +software__item('Photoshop', '90')
   +software__item('Illustrator', '70')
   +software__item('Indesign', '60')
  .software__column
   +software__item('Dreamweaver', '80')
   +software__item('After Effects', '65')
   +software__item('HTML&CSS3', '90')

