@font-face {
    font-family: 'Myriad Pro';
    src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('☺'), url('fonts/MyriadPro-LightSemiExt.woff') format('woff'), url('fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local('☺'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import './components/document/document.scss';
@import './components/title/title.scss';
@import './components/subtitle/subtitle.scss';
@import './components/text/text.scss';
@import './components/items/items.scss';
@import './components/body/body.scss';
@import './components/header/header.scss';
@import './components/profile/profile.scss';
@import './components/contact/contact.scss';
@import './components/skills/skills.scss';
@import './components/education/education.scss';
@import './components/experience/experience.scss';
@import './components/software/software.scss';